/* <!-- 搜索框 --> */
.index-searchbox-nav {
    position: relative;
    padding-top: 20px;
    height: 115px;
    width: 100%;
    box-sizing: border-box;
}

.searchbox {
    width: 100%;
    height: 24px;
    padding: 0 10px 8px 10px;
}

.searchbox .f1 {
    background: #fff;
    border: 1px solid #C7C7C7;
    color: #B5B5B6;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
    position: relative;
    text-indent: .6rem;
    width: 87%;
    border-radius: 10px;
    text-decoration: none;
}

.searchbox::before {
    content: "";
    height: 15px;
    width: 15px;
    background: url(../image/newindexicon.jpg) no-repeat;
    background-position: -3px 0;
    background-size: 127%;
    position: absolute;
    top: 25px;
    left: 15px;
    z-index: 2;
}

.srarbox {
    /* float: right; */
    display: inline-block;
    background-image: url(../image/newindexicon.jpg);
    background-repeat: no-repeat;
    background-position: 0 -62px;
    background-size: 100%;
    height: 22px;
    width: 22px;
    position: absolute;
}

/* 导航 */
.nav {
    position: fixed;
    top: 45px;
    width: 100%;
    overflow-x: auto;
    background-color: #fff;
    z-index: 5;
}

.nav-1 {

    width: 200%;

}

.nav-1 a {
    float: left;
    text-align: center;
    /* width: 92.21px; */
    width: 2.22rem;
    height: 60px;
    overflow-x: auto;
    overflow: hidden;
    color: #000;
    padding-top: .5rem;
    box-sizing: border-box;

}

.nav-1 a p:nth-child(1) {
    font-weight: 700;
    font-size: .5rem;

}

.nav-1 a p:nth-child(2) {
    font-size: .13rem;
    font-weight: 100;
    text-align: center;
    margin-top: .1rem;
}

.nav-1 a:nth-child(1) p {
    font-size: .8rem;
    transition: all .5s;
    font-weight: 900;
    margin-top: -0.2rem;
}

.nav-1 a:nth-child(1) p:nth-child(2) {
    font-size: .13rem;
    font-weight: 100;
    text-align: center;
    margin-top: .1rem;
}


/* 假的轮播图 */
.slideshow {
    width: 100%;

    position: relative;
    margin-bottom: 3px;
    z-index: 2;
}

.slideshow img {
    width: 100%;
    border-radius: 9px;
}

.slideshow ul {
    position: absolute;
    left: 35%;
}

.slideshow li {
    margin: 0.1rem 0.1rem 0.1rem;
    float: left;
    width: 0.3rem;
    height: 0.1rem;
    background-color: #f7e6c3;
}

/* 全球精选 */
.newman {
    width: 100%;
    margin-top: 24px;
    border: 1px solid #cfbb98;
    border-radius: 9px;
}

.newman .new {
    align-items: center;
    background: #cfbb98;
    color: #fff;
    display: flex;
    font-size: .32rem;
    height: .85rem;
    justify-content: space-around;
    width: 100%;
}

.new i {
    font-size: 0.8rem;
}

.new p {
    align-items: center;
    display: flex
}

.man {
    overflow: hidden;
    width: 100%;
}

.man a {
    width: 100%;
    display: block;
}

/* .man img {
    font-size: 0;
    padding: 5px;
    width: 100%;
} */

.man a img {
    display: block;
    width: 100%;
}

.man-1 {
    width: 100%;
}

.man div {
    float: left;
}

.man .newbag {
    width: 38%;
    padding: 5px;
}

.man .newgoods {
    width: 62%;
}

.man .man-1 {
    width: 66%
}

.man .man-1 a {
    float: left;
    width: 50%;
}

.man-1 a:nth-child(-n+2) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.man .man-2 {
    text-align: center;
    width: 33%;
}

.man .man-2 p {
    margin: auto;
    background: #cfbb98;
    border-radius: 100%;
    font-size: .346rem;
    height: 1.4rem;
    /* justify-content: center; */
    width: 1.4rem;
}

.man .man-2 a {
    padding-top: 5px;
    line-height: 0.5rem;
    color: #fff;
}

.man-2 p:nth-child(1) {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.groupBtnLink img {
    padding-top: 0.6rem;
}

.add-type1 {
    width: 100%;
    overflow: hidden;
    padding: .27rem;
}

.add-img-1 {
    margin-right: .265rem;
    width: 54%;
    float: left;
}

.add-img-1 a {
    width: 100%;
}

.add-img-1 img {
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 3px;
}

.add-img-2 {
    width: 43%;
    overflow: hidden;
    float: left;
}

.add-img-2 a {
    width: 100%;
}

.add-img-2 img {
    width: 100%;
    border-radius: 10px;
    padding: 2px;
}

.addbox {
    /* margin: .265rem; */
    position: relative;
    border-radius: 10px;
    /* overflow: hidden; */
    /* padding: 10px; */
    box-sizing: border-box;
    width: 100%;
}

.addbox a {
    display: block;
    width: 100%;
}

.addbox img {
    width: 100%;
}

.addbox-1 a {
    width: 100%;
}

.addbox-1 a:nth-child(1) img {
    border-radius: 10px;
    font-size: 0;
    left: .2rem;
    position: absolute;
    bottom: .2rem;
    width: 45%;
    z-index: 2;
    overflow: hidden;
}

.addbox-1 a:nth-child(2) img {
    border-radius: 10px;
    bottom: .2rem;
    position: absolute;
    right: .2rem;
    width: 45%;
    z-index: 2;
    overflow: hidden;
}

.brandwallcon {
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    margin: .265rem;
    padding: .265rem;
    padding-bottom: .1rem;
    overflow: hidden;
}

.brandwallcon .brandTitle {
    align-items: center;
    color: #000;
    display: flex;
    justify-content: center
}

.change {
    align-items: center;
    border-bottom: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    box-sizing: border-box;
    display: flex;
    height: 1.25rem;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 25%;
}

.brandwallCon {
    display: flex;
    flex-wrap: wrap;
    margin-top: .265rem;
    max-height: 3.75rem;
    position: relative;
    overflow: hidden;
}

.change a {
    text-decoration: none;
    cursor: pointer;
    color: #888;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.change a img {
    left: 50%;
    top: 50%;
    position: absolute;
    transition: all 2s;
    width: 2rem;
    height: 1rem;
    margin-left: -1rem;
    margin-top: -0.5rem;
    background-color: rgba(255, 255, 255, 1);
}

.an {
    width: 100%;
}

.an img {
    position: absolute;
    left: 50%;
    width: .7rem;
    height: .35rem;
    bottom: 0;
    margin-left: -0.35rem;
    z-index: 4;
}

.dailyList {
    margin-top: .3rem;
}

.dailyListTitle {
    color: #000;
    font-size: .32rem;
    margin-bottom: .1rem;
    text-align: center;
}

.dailyListcon {
    display: flex;
    justify-content: space-between;
    margin: .265rem;
    font-size: .32rem;
}

.dailyitem {
    align-items: center;
    background: #F5F5F5;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .4rem 0 .1rem 0;
    position: relative;
    text-align: center;
    width: 2.3rem;
    line-height: 0.45rem;
}

.dailyitem a {
    text-decoration: none;
    cursor: pointer;
    color: #888;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.dailyitem img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.44rem;
}

.dailyitem img:nth-child(2) {
    width: 2.1rem;
}

.promsg {
    display: block;
    margin: .1rem 0;
}

.dailyList .promsg p {
    color: #e25256;
    font-size: .346rem;
}

.promsg em {
    background: #e25256;
    border-radius: 5px;
    color: #fff;
    font-size: .21rem;
}

.listname {
    border: 1px solid #e25256;
    border-radius: .3rem;
    color: #000;
    margin: 0 auto;
    padding: 0 .2rem;
    width: 60%;
    font-size: .26rem;
}

.guessList {
    margin-top: .3rem;
    background: #F5F5F5;
    padding-top: .3rem;

    margin-bottom: 48px;
}

.guessListTitle {
    color: #000;
    font-size: .32rem;
    margin-bottom: .1rem;
    text-align: center;
}

.guesscon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: .265rem;
}

.guessitem {
    background: #fff;
    border-radius: .27rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: .265rem;
    overflow: hidden;
    padding: .2rem;
    width: 49%;
}

.guessitem a {
    text-decoration: none;
    cursor: pointer;
    color: #888;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.guessitem .pp {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: .1rem;
}

.guessitem a img:nth-child(2) {
    display: block;
    width: 100%;
}

.guessitem .pronote {
    color: #B6A380;
    font-size: .32rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    min-height: 1rem;
}

.guessitem .protips {
    color: #878788;
    font-size: .24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: .9rem;
    line-height: 1rem;
    text-align: center;
}

.guessitem .promsg {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.guessitem .promsg i {
    color: #878788;
    font-size: .187rem;
    max-width: 23%;
}

.guessitem .promsg .protag {
    border-radius: .2rem;
    margin: 0 .1rem;
    padding: 0 .1rem;
}

.guessitem .promsg .cart-icon {
    border-radius: 100%;
    height: .373rem;
    width: .373rem;
}

.indexcontainer img {
    display: block;
    width: 100%;
}

.guessitem .promsg span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 底部导航 */
.nav-2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 5;
}

.nav-2 li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    padding: 31px 0 3px;
    height: 1.3rem;
    text-align: center;
    /* width: 19.24%; */
    width: 20%;
    box-sizing: border-box;
    background-color: #cccc;
}
.nav-2 li:nth-child(1){
    background-color:#cfbb98 ;
}

.nav-2 ul {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.nav-2 a {
    /* display: inline-block; */
    color: #fff;

    width: 100%;
}

.nav-2 li:nth-child(1) s {
    background: url(../image/newfootnav.jfif) no-repeat;
    background-size: 20px auto;
    /* display: block; */
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -10px;

}

.nav-2 li:nth-child(2) s {
    background: url(../image/newfootnav.jfif) no-repeat;
    background-size: 20px auto;
    background-position: 0px -18px;
    /* display: block; */
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -10px;
}

.nav-2 li:nth-child(3) s {
    background: url(../image/earth.jfif) no-repeat;
    background-size: 20px auto;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -10px;

}

.nav-2 li:nth-child(4) s {
    background: url(../image/newfootnav.jfif) no-repeat;
    background-size: 20px auto;
    background-position: 0px -38px;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -10px;
}

.nav-2 li:nth-child(5) s {
    background: url(../image/newfootnav.jfif) no-repeat;
    background-size: 20px auto;
    background-position: 0px -59px;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -10px;
}