header {
    position: relative;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #000000;
}

header .head_title {

    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.head_title h3 {
    /* position: fixed; */
    left: 36%;
}

header .head_title::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    width: 12px;
    height: 24px;
    background-image: url(../image/icon_head.jfif);
    background-size: 21px auto;
}

.centre img {
    width: 100%;
    display: inline-block;
    margin-top: -1.3rem;
}

.loginWayTab {
    /* height: 46px; */
    line-height: 46px;
    margin: 10px 20px;
}

.loginWayTab-1 {
    float: left;
}

.loginWayTab-1 a {
    text-align: center;

    width: 49.5%;
    font-size: 18px;
    color: #000000;
    font-weight: 800;
    letter-spacing: 2px;
    border-bottom: 2px solid #cab894;
    padding-bottom: 10px;
    overflow: hidden;
}

.loginWayTab-2 {
    float: right;
}

.loginWayTab-2 a {
    padding-right: 20px;
    text-align: center;
    width: 49.5%;
    font-size: 16px;
    color: #888;
    overflow: hidden;
}

.form {
    position: relative;
}

.form input {
    width: 90%;
    height: 1.32rem;
    line-height: 1.32rem;
    font-size: 15px;
    padding: 0 1em;
    border: none;
    border-bottom: solid 1px #dcdcdc;
}

.id {
    position: absolute;
    top: 110px;
    right: 10px;
    font-size: 15px;
    color: #888;
}

.buttom {
    margin-top: 1rem;
    display: block;
    font-size: 16px;
    color: #ffffff;
    line-height: 55px;
    text-align: center;
    width: 100%;
    background-color: #c9c9cb;
}

.frm_controls {
    margin-bottom: 1.2rem;
    /* margin: 1em; */
    padding-left: 10px;
    font-size: 14px;
    color: #888;
}

.login_footer h3 {
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    position: relative;
}

.buttom {

    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.bottom h3 {
    font-size: 14px;
    color: #888;
    text-align: center;
    font-weight: normal;
    position: relative;
}

.bottom h3::after {
    content: "";
    position: absolute;
    border-top: 1px solid #888;
    width: 36%;
    top: 8px;
    right: 0px;
}

.bottom h3::before {
    content: "";
    position: absolute;
    border-top: 1px solid #888;
    width: 36%;
    top: 8px;
    left: 0;
}

.mt-2em {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
}

.mt-2em .link-qq {
    background: url(../image/thirdpartylogo.jfif) no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    background-size: 50px auto;
    background-repeat: no-repeat;
    position: relative;
}

.mt-2em .link-weibo {
    /* background: url(../image/thirdpartylogo.jfif) no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    background-size: 50px auto;
    background-repeat: no-repeat;
    position: relative; */
    background: url(../image/thirdpartylogo.jfif);
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    background-size: 50px auto;
    background-repeat: no-repeat;
    background-position: 0 -52px;
    position: relative;
}

.mt-2em .link-ali {
    background: url(../image/thirdpartylogo.jfif) no-repeat;
    background-position: 0 -103px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    background-size: 50px auto;
    background-repeat: no-repeat;
    position: relative;
}